scraper/*.csv
scraper/*.txt
scraper/metadata/*
dataset-ampliaciones-xml/*/
Scrapper/test_dataset/test.csv
Scrapper/test_dataset/prueba.csv
Training/results.zip
Validation/validacion.csv
Training/textos_griegos.csv
Scrapper/scraper/textos_griegos.csv
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/df_explorer-checkpoint.ipynb
Cleaning/textos_griegos.csv
Cleaning/.ipynb_checkpoints/df_cleaner-checkpoint.ipynb
Cleaning/training_df.csv
Cleaning/val_df.csv
Training/.ipynb_checkpoints/Training_kaggle_v6-checkpoint.ipynb
Training/.ipynb_checkpoints/training-checkpoint.ipynb
Validation/modelo.zip
