<!DOCTYPE html>
<html>

<head>
    <title>KalokagathIA_frontpage</title>
    <link rel="stylesheet" href="/static/CSS/stylesheet.css" type="text/css">
</head>

<body>
    <div class="header">
        <img src="../static/images/light_logo/Kalokagathia_banner_light.png" alt="banner" class="header_banner">
    </div>

    <div class="option_bar">
        <a href="./model_page.html" class="button">
            <h3>The project</h3>
        </a>
        <a href="./model_page.html" class="button">
            <h3>About us</h3>
        </a>
        <a href="./model_page.html" class="button">
            <h3>Contact</h3>
        </a>
    </div>

    <div class="main">
        <div class="right_column">
            <div class="content_container">
                <h2>The tool</h2>
                <p>
                    KalokagathIA is a tool made for ancient greek text analysis using DeepLearning techniques. It uses the <a href="https://huggingface.co/transformers/model_doc/bert.html">BERT NLP model for sequence classification</a> that Huggingface
                    provides in order to predict the author for a text that is given and then interprets the results underlying the text by word importance
                </p>
                <img src="../static/images/light_logo/Kalokagathia_logo2_fondoclaro copy.png" alt="logo" class="column_img">
            </div>
        </div>

        <div class="left_column">
            <div class="content_container">
                <h2>Who we are</h2>
                <p>
                    We are artificial inteligence students that met within the fourth edition of <a href="https://saturdays.ai/">SaturdaysAI</a>
                </p>
            </div>
        </div>
    </div>
</body>




</html>
