<!DOCTYPE html>
<html>

<head>
    <title>KalokagathIA_frontpage</title>
    <link rel="stylesheet" href="../static/CSS/stylesheet.css" type="text/css">
</head>

<body>
    <div class="main_container">
        <img src="../static/images/light_logo/Kalokagathia_banner_light.png" alt="banner" class="header_banner">

        <img src="../static/images/light_logo/kalokagathia_top_light.png" alt="delimiter_top" class="delimiter_top">

        <img src="../static/images/light_logo/kalokagathia_bottom_light.png" alt="delimiter_bottom" class="delimiter_bottom">

        <div class="common_buttons">
            <a href="./model_page.html" class="button_1">
                <h3>The project</h3>
            </a>
            <a href="./model_page.html" class="button_2">
                <h3>About us</h3>
            </a>
            <a href="./model_page.html" class="button_3">
                <h3>Contact</h3>
            </a>
        </div>

        <div class="predictor_container">
            <a href="./model_page.html" class="predictor">
                <h3 class="predictor_text">Text predictor</h3>
            </a>
        </div>

    </div>

</body>

</html>