<!DOCTYPE html>
<html>

<head>
    <title>KalokagathIA</title>
    <link rel="stylesheet" href="../static/CSS/stylesheet.css" type="text/css">
</head>

<body>
   
    <div class="header">
        <a href="frontpage" class="frontpage_button"><img src="../static/images/light_logo/Kalokagathia_logo2_fondoclaro copy.png" alt="Home"></a>
        <a href="textpredictor">Text Predictor</a>
        <a href="project">The project</a>
        <a href="aboutus">About us</a>
        <a href="contact">Contact</a>
    </div>
</body>

</html>