<!DOCTYPE html>
<html>

<head>
    <title>KalokagathIA</title>
    <link rel="stylesheet" href="../static/CSS/stylesheet.css" type="text/css">
</head>

<body>
    <header class="header">
        <ul>
            <li><a href="frontpage">Home</a></li>
            <li><a href="textpredictor">Text Predictor</a></li>
            <li><a href="project">The project</a></li>
            <li><a href="aboutus">About us</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </header>

    {% block body %}

</body>

</html>